@page "/posts"
@using khaledhikmat.Shared.Models 
@inject HttpClient Http

<h1>Posts</h1>

<p>This lists all posts from Cosmic.</p>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.id</td>
                    <td>@post.slug</td>
                    <td>@post.title</td>
                    <td>@post.metadata.date</td>
                    <td>@post.metadata.author</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Post> posts = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await Http.GetFromJsonAsync<List<Post>>("/api/posts") ?? new List<Post>();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
